
{% extends "layouts/base.html" %}

{% block title %} Tables {% endblock %} 

<!-- Specific Page CSS goes HERE  -->
{% block stylesheets %}{% endblock stylesheets %}

{% block content %}

    <main>
        <div class="container-fluid px-4">
            <h1 class="mt-4">Orders</h1>
            <ol class="breadcrumb mb-4">
                <li class="breadcrumb-item"><a href="index.html">Dashboard</a></li>
                <li class="breadcrumb-item active">Orders</li>
            </ol>
            <div style="height: 60px">
                <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#addingOrder">Add new order</button>
            </div>
            <!--modals-->
                <div class="modal fade" id="addingOrder" tabindex="-1" role="dialog" aria-labelledby="addingOrderLabel" aria-hidden="true">
                    <div class="modal-dialog" role="document">
                        <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="addingOrderLabel">Adding new order</h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="modal-body">
                            <form action="" method="post">{% csrf_token %}
                                {{ form }}
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-light col-5 mx-auto"><a href="{% url 'customers_table' %}">Add new customer</a></button>
                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                            <button type="submit" class="btn btn-primary">Add</button>
                        </div>
                            </form>
                        </div>
                    </div>
                </div>

                <div class="modal fade" id="editOrder" tabindex="-1" role="dialog" aria-labelledby="editOrderLabel" aria-hidden="true">
                    <div class="modal-dialog" role="document">
                        <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="editOrderLabel">Editing customer</h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="modal-body">
                            <form action="" method="post" id="editOrderForm">{% csrf_token %}
                            {{ form }}
                        </div>
                            </form>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                            <button type="submit" class="btn btn-primary" id="submitOrderEdit" data-dismiss="modal">Submit</button>
                        </div>
                        </div>
                    </div>
                </div>

                <div class="modal fade" id="deleteOrder" tabindex="-1" aria-labelledby="deleteOrderLabel" aria-hidden="true">
                    <div class="modal-dialog">
                      <div class="modal-content">
                        <div class="modal-header">
                          <h5 class="modal-title" id="deleteOrderLabel">Deleting record</h5>
                          <button type="button" class="btn-close" data-dismiss="modal" aria-label="Close"></button>
                        </div>
                        <div class="modal-body">
                            <form action="" method="post" id="deleteOrderForm">{% csrf_token %}
                                Do you really want to delete this record?
                            </form>
                        </div>
                        <div class="modal-footer">
                          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                          <button type="submit" class="btn btn-primary" id="submitOrderDelete" data-dismiss="modal">Delete</button>
                        </div>
                      </div>
                    </div>
                </div>

            <div class="card mb-4">
                <div class="card-header">
                    <i class="fas fa-table me-1"></i>
                    Orders table
                </div>
                <div class="card-body">

                    <table id="ordersTable" class="display">
                        <thead>
                            <tr>
                                <th scope="col">id {{table.order_id}}</th>
                                <th scope="col">Customer</th>
                                <th scope="col">Order Status</th>
                                <th scope="col">Order Date</th>
                                <th scope="col">Required Date</th>
                                <th scope="col">Shipped Date</th>
                                <th scope="col">Store</th>
                                <th scope="col">Staff</th>
                                <th scope="col">Edit</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for item in table %}
                        <tr>
                            {% for x in item %}
                                <td>{{ x }}</td>
                            {% endfor %}
                            <td>
                                <div class="dropdown">
                                <a class="btn btn-secondary dropdown-toogle" href="#" role="button" id="dropdownOrder" data-value="{{item.0}}" data-bs-toggle="dropdown" aria-expanded="false">
                                    <i class="fas fa-cogs"></i>
                                </a>
                                <ul class="dropdown-menu" aria-labelledby="dropdownOrder">
                                    <li><a class="dropdown-item" data-value="{{item.0}}" id="editOrderButt" href="{% url 'edit_order' item.0 %}" data-toggle="modal" data-target="#editOrder">Edit record</a></li>
                                    <li><a type="button" class="dropdown-item" id="deleteButt" href="" data-toggle="modal" data-target="#deleteOrder">Delete record</a></li>
                                </ul>
                                </div>
                            </td>
                        </tr>
                        {% endfor %}
                        </tbody>
                    </table>

                </div>
            </div>
        </div>
    </main>

{% endblock content %}

<!-- Specific Page JS goes there in base.html file  -->
{% block javascripts %}

{% endblock javascripts %}
