
{% extends "layouts/base.html" %}

{% block title %} Tables {% endblock %} 

<!-- Specific Page CSS goes HERE  -->
{% block stylesheets %}{% endblock stylesheets %}

{% block content %}

    <main>
        <div class="container-fluid px-4">
            <h1 class="mt-4">Staffs</h1>
            <ol class="breadcrumb mb-4">
                <li class="breadcrumb-item"><a href="index.html">Dashboard</a></li>
                <li class="breadcrumb-item active">Staffs</li>
            </ol>
            <div style="height: 60px">
                <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#addingStaff">Add new staff member</button>
            </div>
            <!--modals-->
            <div class="modal fade" id="addingStaff" tabindex="-1" role="dialog" aria-labelledby="addingStaffLabel" aria-hidden="true">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="addingStaffLabel">Adding store</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <form action="" method="post">{% csrf_token %}
                            {{ form }}
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                        <button type="submit" class="btn btn-primary">Add</button>
                    </div>
                        </form>
                    </div>
                </div>
            </div>

            <div class="modal fade" id="editStaff" tabindex="-1" role="dialog" aria-labelledby="editStaffLabel" aria-hidden="true">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="editStaffLabel">Editing staff members</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <form action="" method="post" id="editStaffForm">{% csrf_token %}
                        {{ form }}
                    </div>
                        </form>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                        <button type="submit" class="btn btn-primary" id="SubmitStaffEdit" data-dismiss="modal">Submit</button>
                    </div>
                    </div>
                </div>
            </div>

            <div class="card mb-4">
                <div class="card-header">
                    <i class="fas fa-table me-1"></i>
                    Staffs data table
                </div>
                <div class="card-body">

                    <table id="staffsTable" class="display">
                        <thead>
                            <tr>
                                <th scope="col">Staff id</th>
                                <th scope="col">First name</th>
                                <th scope="col">Last name</th>
                                <th scope="col">Email</th>
                                <th scope="col">Phone</th>
                                <th scope="col">Active</th>
                                <th scope="col">Store</th>
                                <th scope="col">Manager</th>
                                <th scope="col">Edit</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for item in table %}
                        <tr>
                            {% for x in item %}
                                <td>{{ x }}</td>
                            {% endfor %}
                            <td>
                                <div class="dropdown">
                                <a class="btn btn-secondary dropdown-toogle" href="#" role="button" id="dropdownLink" data-value="{{item.0}}" data-bs-toggle="dropdown" aria-expanded="false">
                                    <i class="fas fa-cogs"></i>
                                </a>
                                <ul class="dropdown-menu" aria-labelledby="dropdownLink">
                                    <li><a class="dropdown-item" data-value="{{item.0}}" id="editStaffButt" href="{% url 'edit_staff' item.0 %}" data-toggle="modal" data-target="#editStaff">Edit record</a></li>
                                    <li><a type="button" class="dropdown-item" id="deleteButt" href="" data-toggle="modal" data-target="#deleteStaff">Delete record</a></li>
                                </ul>
                                </div>
                            </td>
                        </tr>
                        {% endfor %}
                        </tbody>
                    </table>

                </div>
            </div>
        </div>
    </main>

{% endblock content %}

<!-- Specific Page JS goes there in base.html file  -->
{% block javascripts %}

{% endblock javascripts %}
