
{% extends "layouts/base.html" %}

{% block title %} Tables {% endblock %} 

<!-- Specific Page CSS goes HERE  -->
{% block stylesheets %}{% endblock stylesheets %}

{% block content %}

    <main>
        
        <div class="container-fluid px-4">
            <h1 class="mt-4">Stocks</h1>
            <ol class="breadcrumb mb-4">
                <li class="breadcrumb-item"><a href="index.html">Dashboard</a></li>
                <li class="breadcrumb-item active">Stocks</li>
            </ol>
            <div style="height: 60px">
                <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#addingProduct">Add new product</button>
            </div>
            <!--modals-->
                <div class="modal fade" id="addingProduct" tabindex="-1" role="dialog" aria-labelledby="addingProductLabel" aria-hidden="true">
                    <div class="modal-dialog" role="document">
                        <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="addingProductLabel">Adding product</h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="modal-body">
                            <form action="" method="post">{% csrf_token %}
                                {{ form }}
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                            <button type="submit" class="btn btn-primary">Add</button>
                        </div>
                            </form>
                        </div>
                    </div>
                </div>

                <div class="modal fade" id="editProduct" tabindex="-1" role="dialog" aria-labelledby="editProductLabel" aria-hidden="true">
                    <div class="modal-dialog" role="document">
                        <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="editProductLabel">Editing product</h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="modal-body">
                            <form action="" method="post" id="editProductForm">{% csrf_token %}
                            {{ form }}
                        </div>
                            </form>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                            <button type="submit" class="btn btn-primary" id="submitProductEdit" data-dismiss="modal">Submit</button>
                        </div>
                        </div>
                    </div>
                </div>

                <div class="modal fade" id="deleteProduct" tabindex="-1" aria-labelledby="deleteProductLabel" aria-hidden="true">
                    <div class="modal-dialog">
                      <div class="modal-content">
                        <div class="modal-header">
                          <h5 class="modal-title" id="deleteProductLabel">Deleting record</h5>
                          <button type="button" class="btn-close" data-dismiss="modal" aria-label="Close"></button>
                        </div>
                        <div class="modal-body">
                            <form action="" method="post" id="deleteProductForm">{% csrf_token %}
                                Do you really want to delete this record?
                            </form>
                        </div>
                        <div class="modal-footer">
                          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                          <button type="submit" class="btn btn-primary" id="submitProductDelete" data-dismiss="modal">Delete</button>
                        </div>
                      </div>
                    </div>
                </div>

            <div class="card mb-4">
            <div id="Stocks table">
                <div class="card-header">
                    <i class="fas fa-table me-1"></i>
                    Stocks data table
                </div>
                <div class="card-body">

                    <table id="stocksTable" class="display">
                        <thead>
                            <tr>
                                <th scope="col">id {{table.d}}</th>
                                <th scope="col">Product name</th>
                                <th scope="col">Brand</th>
                                <th scope="col">Category</th>
                                <th scope="col">Model year</th>
                                <th scope="col">List price</th>
                                <th scope="col">Edit</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for item in table %}
                        <tr>
                            {% for x in item %}
                                <td>{{ x }}</td>
                                {% endfor %}
                            <td>
                                <div class="dropdown">
                                <a class="btn btn-secondary dropdown-toogle" href="#" role="button" id="dropdownProduct" data-value="{{item.0}}" data-bs-toggle="dropdown" aria-expanded="false">
                                    <i class="fas fa-cogs"></i>
                                </a>
                                <ul class="dropdown-menu" aria-labelledby="dropdownProduct">
                                    <li><a class="dropdown-item" data-value="{{item.0}}" id="editProductButt" href="{% url 'edit_product' item.0 %}" data-toggle="modal" data-target="#editProduct">Edit record</a></li>
                                    <li><a type="button" class="dropdown-item" id="deleteButt" href="" data-toggle="modal" data-target="#deleteProduct">Delete record</a></li>
                                </ul>
                                </div>
                            </td>
                        </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
            </div>
        </div>
    </main>

{% endblock content %}

<!-- Specific Page JS goes there in base.html file  -->
{% block javascripts %}

{% endblock javascripts %}
