
{% extends "layouts/base.html" %}

{% block title %} Tables {% endblock %} 

<!-- Specific Page CSS goes HERE  -->
{% block stylesheets %}{% endblock stylesheets %}

{% block content %}

    <main>
        <div class="container-fluid px-4">
            <h1 class="mt-4">Stores</h1>
            <ol class="breadcrumb mb-4">
                <li class="breadcrumb-item"><a href="index.html">Dashboard</a></li>
                <li class="breadcrumb-item active">Stores</li>
            </ol>
            <div style="height: 60px;">
                <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal" form="storeForm">Add new store</button>
            </div>

            <!--pop up window for adding new data-->
            <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Adding new store</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <form method="POST" id="storeForm">{% csrf_token %}
                    <div class="mb-3">
                        <label for="{{StoreForm.store_name}}" class="col-form-label">{{ StoreForm.store_name.label }}</label>
                        <div class="col-sm-6 col-md-5 col-lg-4 col-xl-6">
                            {{ StoreForm.phone }}
                        </div>
                    </div>
                    <div class="mb-3">
                        <label for="{{StoreForm.phone}}" class="col-form-label">{{ StoreForm.phone.label }}</label>
                        <div class="col-sm-6 col-md-5 col-lg-4 col-xl-6">
                            {{ StoreForm.phone }}
                        </div>
                    </div>
                    <div class="mb-3">
                        <label for="{{StoreForm.email}}" class="col-form-label">{{ StoreForm.email.label }}</label>
                        <div class="col-sm-6 col-md-5 col-lg-4 col-xl-6">
                            {{ StoreForm.phone }}
                        </div>
                    </div>
                    <div class="mb-3">
                        <label for="{{StoreForm.street}}" class="col-form-label">{{ StoreForm.street.label }}</label>
                        <div class="col-sm-6 col-md-5 col-lg-4 col-xl-6">
                            {{ StoreForm.phone }}
                        </div>
                    </div>
                    <div class="mb-3">
                        <label for="{{StoreForm.city}}" class="col-form-label">{{ StoreForm.city.label }}</label>
                        <div class="col-sm-6 col-md-5 col-lg-4 col-xl-6">
                            {{ StoreForm.phone }}
                        </div>
                    </div>
                    <div class="mb-3">
                        <label for="{{StoreForm.state}}" class="col-form-label">{{ StoreForm.state.label }}</label>
                        <div class="col-sm-6 col-md-5 col-lg-4 col-xl-6">
                            {{ StoreForm.phone }}
                        </div>
                    </div>
                    <div class="mb-3">
                        <label for="{{StoreForm.zip_code}}" class="col-form-label">{{ StoreForm.zip_code.label }}</label>
                        <div class="col-sm-6 col-md-5 col-lg-4 col-xl-6">
                            {{ StoreForm.phone }}
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                    <button type="button" class="btn btn-primary" id="addStoreBtn">Add</button>
                </div>
            </form>
                </div>
            </div>
            </div>

            <div>
                <div class="card-header">
                    <i class="fas fa-table me-1"></i>
                    Stores data table
                </div>
                <div class="card-body">

                    <table id="storesTable">
                        <thead>
                            <tr>
                                <th>Store_id</th>
                                <th>Store_name</th>
                                <th>Phone</th>
                                <th>Email</th>
                                <th>Street</th>
                                <th>City</th>
                                <th>State</th>
                                <th>Zip Code</th>
                            </tr>
                        </thead>
                        <tbody>
                        </tbody>
                    </table>

                </div>
            </div>
        </div>
    </main>

{% endblock content %}

<!-- Specific Page JS goes there in base.html file  -->
{% block javascripts %}

{% endblock javascripts %}
