
{% extends "layouts/base.html" %}

{% block title %} Tables {% endblock %} 

<!-- Specific Page CSS goes HERE  -->
{% block stylesheets %}{% endblock stylesheets %}

{% block content %}

    <main>
        <div class="container-fluid px-4">
            <h1 class="mt-4">Stores</h1>
            <ol class="breadcrumb mb-4">
                <li class="breadcrumb-item"><a href="index.html">Dashboard</a></li>
                <li class="breadcrumb-item active">Stores</li>
            </ol>
            <div style="height: 60px;">
                <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal" form="storeForm">Add new store</button>
            </div>

            <!--pop up window for adding new data-->
            <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Adding new store</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <!--<form action="" method="POST" id="xd">
                        
                        {{form.store_id}}
                    </form>-->
                    <form action="" method="POST" id="storeForm">{% csrf_token %}
                    <div class="mb-3">
                        <label class="col-form-label">Store name:</label>
                        <input type="text" class="form-control" placeholder="Store name" name="store_name">
                    </div>
                    <div class="mb-3">
                        <label class="col-form-label">Phone:</label>
                        <input type="text" class="form-control" placeholder="Phone" name="phone">
                    </div>
                    <div class="mb-3">
                        <label class="col-form-label">Email:</label>
                        <input type="text" class="form-control" placeholder="Email" name="email">
                    </div>
                    <div class="mb-3">
                        <label class="col-form-label">Street:</label>
                        <input type="text" class="form-control" placeholder="Street" name="street">
                    </div>
                    <div class="mb-3">
                        <label class="col-form-label">City:</label>
                        <input type="text" class="form-control" placeholder="City" name="city">
                    </div>
                    <div class="mb-3">
                        <label class="col-form-label">State:</label>
                        <input type="text" class="form-control" placeholder="State" name="state">
                    </div>
                    <div class="mb-3">
                        <label class="col-form-label">Zip code:</label>
                        <input type="text" class="form-control" placeholder="Zip code" name="zip_code">
                    </div>
                    
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                    <button type="button" class="btn btn-primary" id="addStoreBtn">Add</button>
                </div>
            </form>
                </div>
            </div>
            </div>

            <div>
                <div class="card-header">
                    <i class="fas fa-table me-1"></i>
                    Stores data table
                </div>
                <div class="card-body">

                    <table id="storesTable">
                        <thead>
                            <tr>
                                <th>Store_id</th>
                                <th>Store_name</th>
                                <th>Phone</th>
                                <th>Email</th>
                                <th>Street</th>
                                <th>City</th>
                                <th>State</th>
                                <th>Zip Code</th>
                            </tr>
                        </thead>
                        <tbody>
                        </tbody>
                    </table>

                </div>
            </div>
        </div>
    </main>

{% endblock content %}

<!-- Specific Page JS goes there in base.html file  -->
{% block javascripts %}

{% endblock javascripts %}
